# ===== STM32CubeIDE build output =====
Debug/
Release/

# ===== IDE files =====
.settings/
*.launch

# ===== OS junk =====
Thumbs.db
.DS_Store

# Ignore media everywhere EXCEPT documentation
*.mp4
*.mov

# Allow images inside media folder
!media/*.jpg
!media/*.jpeg
!media/*.png


# ===== PDFs (optional, comment if needed) =====
# *.pdf
